.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: color 1s ease-out;
}

.btn-line {
  width: 25px;
  height: 3px;
  margin: 0 0 5px 0;
  background: rgb(46, 107, 82);
  transition: color 1s ease-out;
}

.close {
  transform: rotate(90deg);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.icons .title {
  left: 50px;
}
.menu-nav{
  display: block;
  flex-flow: column wrap;
  align-items: center;
  float: right;
  width: 20%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(62, 138, 62);
  list-style: none;
}
